.navbar {
    background: linear-gradient(90deg, #12205e 0%, #154c1d 50%, #A62626 100%);
    height: 60px;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    background: rgba(255, 255, 255, 0.2);
    color: #FFD700; 

}

.nav-search {
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.nav-search input {
    border: none;
    outline: none;
    padding: 5px;
    width: 250px;
}

.nav-search button {
    background: none;
    border: none;
    cursor: pointer;
}
/* boton de notificacion inicia por aqui*/

.notifications-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.bell-btn{
    background: none;
    border: none;
    color:  white;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}
.bell-btn:hover {
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
}
.notif-badge{
    position: absolute;
    top: 0;
    right: 2px;
    background-color: #A62626;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    border: 1px solid white;
}
.notif-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%; /* Se coloca justo debajo del botón */
    background: white;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 9999; /* Valor alto para que nada lo tape */
    border: 1px solid #ddd;
    overflow: hidden;
}
.notif-header{
    background: #1B365D;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
.notif-item{
    padding: 12px;
    border-bottom: 1px solid #eee;
font-size: 0.85rem;
color: #333;
transition: 0.2s;
}
.notif-item:hover{
    background-color: #f9f9f9;
}
.notif-item.unread{
    background-color: #fffdf0;
    border-left: 4px solid #ffd700;
}
.empty-msg {
    padding: 20px;
    text-align: center;
    color: #666;
    font-size: 0.9rem;
    font-style: italic;
    background: #f9f9f9;
}
/*y termina aca*/
